section {
  /* width: 30%; */
  max-width: 400px;
  margin: 80px auto;
  text-align: center;
  /* border: 2px solid black; */
  border-radius: 12px;
  padding: 20px;
  background: white;
  box-shadow: 3px 3px 20px 1px rgb(192, 236, 214);
}

.heading {
  font-size: 2em;
}

@media (max-width: 768px) {
    .heading{
        font-size: 1.7em;
    }
}

@media (max-width: 480px) {
    .heading{
        font-size: 1.4em;
    }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.form input {
  margin: 14px auto;
  width: 90%;
  max-width: 100%;
  height: 6vh;
  border: 2px solid #00a36a;
  border-radius: 8px;
  font-size: 90%;
  padding: 6px;
  font-size: 1.2rem;
}

.form input:focus{
    border: 2px solid green;
}

.btn{
    width: 90%;
    margin: 15px auto;
    height: 6vh;
    border: none;
    border-radius: 6px;
    background: #00a36a;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.btn:hover{
    background: rgb(59, 155, 59);
    box-shadow: 3px 3px 15px 1px rgb(184, 238, 184);
}


.modeBtn{
    border: none;
    background: none;
    margin: 20px auto;
    color: rgb(15, 164, 15);
    font-weight: 300;
    font-size: 1.1em;
    cursor: pointer;
}
