.expenseData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
}

.expenseData h3{
    color: #d67d2a;
}

.editBtn{
   border: none;
   background: none;
   color: green;
   font-size: 1.2rem;
   padding: 0.1rem;
}

.delBtn{
    border: none;
    background: none;
    color: red;
    font-size: 1.4rem;
    padding: 0.1rem; 
}

.downloadBtn{
    border: none;
    background: none;
    color:  #8ea7fa;
    font-size: 1.8rem;
}

.footer{
    color: green;
  font-size: 1.1rem;
  font-weight: bold;
}

.footer span{
    padding: 9px;
    font-size: 1rem;
    font-weight: lighter;
}
