
.btn{
    border: none;
    border-radius: 15px;
    background: none;
    color: white;
    height: 5vh;
    font-size: 1.2rem;
}

.dark{
    color: black;
    background: white;
}

.light{
    background: #aebbe5;
}